[Desktop Entry]
Exec=/usr/bin/xfig %f
InitialPreference=2
MimeType=application/x-xfig;
Name=xfig
Comment=Facility for Interactive Generation of figures under X11
Icon=xfig
Terminal=false
Type=Application
Categories=Graphics;
Keywords=vector;graphics;figure;drawing;
